.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post {
    background: grey;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
}